faster-whisper
sounddevice
numpy
requests
python-dotenv
langchain
langchain-community
chromadb
huggingface-hub
transformers
sentence-transformers
webrtcvad
PyPDF2
spacy
keyboard
pyaudio
reportlab
pynput